<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

</head>

<body>
    <%- include('common/nav.ejs')-%>
        <h1>Welcome! Mr <%= name%>
        </h1>
        <h3>Email <%= data.email%>
        </h3>
        <h2>Address: <%= data.address%>
        </h2>
        <ul>
            <% data.skills.forEach((item)=>{ %>
                <li>
                    <%= item%>
                </li>
                <% }) %>
        </ul>
</body>

</html>